/*
Theme Name: PenyaCiclista
Theme URI: https://bitbucket.org/enricdev/pcpobla.git
Author: Diapasó
Author URI: http://diapaso.com/
Description: Este tema s'ha desenvolupat a mà per adaptar-se a les necessitats del projecte.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:300,400,700);

body {
  background: #fff;
  font-family: "Droid Sans", Arial, sans-serif;
}

.strong {
  font-weight: 700;
}

#pagina {
  padding-top: 50px;
  padding-bottom: 20px;
}

#pagina .h1 {
  text-align: center;
  margin-bottom: 30px;
}

.btn-groc, .acf-button {
  background-color: #FFE260;
  color: #111;
  font-weight: 700;
  padding: 15px 8px;
  border-radius: 30px;
  font-size: 1.15em;
  border: 0;
  min-width: 150px;
}

.btn-groc:hover, .btn-groc:focus, .acf-button:hover, .acf-button:focus {
  background-color: #F4FF53;
}

.btn-xic {
  padding: 5px;
}

a {
  color: #979977;
  font-weight: 700;
}

a:hover, a:focus {
  color: #979977;
}

/* Navegació */

.admin-bar .navbar-default {
  margin-top: 32px;
}

.navbar-brand img {
  width: 50px;
  transition: width 0.8s;
}

.navbar-default {
  margin-bottom: 0;
}

#penyaciclista-navbar .navbar-nav > li > a {
  transition: all 0.1s ease;
}

#penyaciclista-navbar .navbar-nav > li > a:hover, #penyaciclista-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  transition: all 0.3s ease;
}


/* Slider */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.disabled {
  pointer-events: none !important;
  cursor: default;
  opacity: 0.3;
}

/* Portada */

#blog-portada {
  margin-bottom: 10px;
}

#blocsportada {
  margin-bottom: 10px;
}

.bloc-portada {
  margin-bottom: 10px;
}

#blocsportada .page-titol {
  text-align: center;
}

#blog-portada .imatgenot img {
width: 100%;
}

.carousel-caption {
  top: 0;
  padding: 0;
}

.post-data {
  color: #808080;
}

.boto-mes-not {
  padding-left: 15px;
  float: left;
}

/* Post */

.post-detalls, .post-xarxes {
  font-size: 1.3em;
}

.xarxes-logos li {
  list-style: none;
  display: inline;
}

.page-template-blog article {
  margin-bottom: 20px;
}

.pagination > li > a, .pagination > li > span {
  color: #333;
}

.pagination > li > span.current,
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background-color: #FFE260;
  font-weight: 700;
  color: #333;
}

/* Rutes */

.modal-header {
  padding: 5px;
  border: 0;
}

.modal-body {
  padding-top: 0;
}


/* Classificació */

.progress {
  border-radius: 0;
}

.progress-bar {
  background-color: #FFE260;
  color: #333;
}

.img-soci {
  margin-right: 10px;
  margin-top: 5px;
}

.class-soci {
  margin-bottom: 10px;
}

/* Validació */

.coordinates {
  display: none;
}

.coordinates.visible {
  display: block;
}

/* Info personal */

#edita-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

/* Formularis */

.form-control {
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #FFE260;
}

.acf-field-58fe413a76bc0 {
  display: none;
}

/* Login */

.tml {
  max-width: none !important;
}

.page-id-111 .pag-titol, .page-id-113 .pag-titol, .page-id-114 .pag-titol {
  text-align: center;
}

/* Sidebar */

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding-bottom: 5px;
}

/* Peu de pàgina */

footer {
background: #FFE260;
padding: 30px 0;
}

.logopeu {
  vertical-align: middle;
  width: 120px;
  margin-right: 20px;
}

.ajuntament, .esport, .diputacio {
  display: block;
}

.esport, .diputacio {
  width: 190px;
}

.gplay {
  max-width: 180px;
  display: block;
  margin: auto;
}

.titolpeu {
  font-size: 2.3em;
}

footer .xarxes a {
  font-size: 2.4em;
  color: #000;
  padding: 5px;
}

.linkspeu {
  clear: right;
}

.linkspeu a {
  display: block;
  color: #000;
}

/* Editor de contingut */

blockquote {
  margin: 20px;
  padding: 0 10px;
  font-weight: 400;
  font-style: italic;
  font-size: inherit;
  border-width: 3px;
}

.post-contingut ul li {
  list-style: square;
}

.alignright, .alignleft, .aligncenter, .wp-caption img {
  display: block;
  width: 100%;
  height: auto;
}

.wp-caption-text {
  color: #aaa;
  padding: 5px;
  text-align: center;
}


@media (min-width: 768px) {

  #pagina {
    padding-top: 100px;
  }

  body:not(.home) #pagina {
    padding-top: 140px;
  }

  .carousel-caption {
    left: 10%;
    top: 20%;
    text-align: left;
  }

  .carousel-caption h2 {
  	font-size: 3em;
  	margin-bottom: 20px;
  }

  .text-sm-right {
    text-align: right;
  }

  nav.navbar {
    height: 115px;
    transition: height 0.8s;
  }

  nav.navbar.shrink {
    height: 30px;
  }

  .navbar-brand img {
    width: 130px;
    transition: width 0.8s;
  }

  .shrink .navbar-brand img {
    width: 50px;
  }

  .navbar-nav {
    float: right;
    clear: right;
  }

    .navbar-default .navbar-nav > li {
      padding: 15px;
    }

    .navbar-default .navbar-nav > li > a {
      color: #555;
      padding: 0;
      padding-bottom: 2px;
    }

    #penyaciclista-navbar .navbar-nav > li > a:hover, #penyaciclista-navbar .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > .active > a {
      border-bottom: 7px solid #FFE260;
      background-color: transparent;
    }

  .xarxes {
    float: right;
    margin: 10px;
    transition: all 0.6s;
  }

  .xarxes a {
    font-size: 2em;
    color: #555;
  }

    .xarxes a.login {
      font-size: 1em;
      text-decoration:underline;
      vertical-align:top;
      margin-right: 5px;
      color: #ccc;
     }

  .shrink .xarxes {
    position: relative;
    margin-top: -92px;
    transition: all 1.1s;
  }


  footer .xarxes {
    margin-bottom: 30px;
  }

  #blog-portada .imatgenot {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    overflow: hidden;
  }

    #blog-portada .imatgenot img {
      height: 100%;
      width: auto;
    }

  .linkspeu a {
    text-align: right;
  }

	/* Editor de contingut */

	blockquote {
	margin: 20px 30px;
	}

	.alignright, .alignleft {
	margin: 10px;
	margin-top: 5px;
	width: auto;
	}

		.aligncenter, .aligncenter img {
		width: 100% !important;
		}

	.aligncenter {
	margin-left: auto;
	margin-right: auto;
	}

	.alignleft {
	float: left;
	margin-left: 0;
	}

	.alignright {
	float: right;
	margin-right: 0;
	}


}

@media (max-width: 768px){

  .login {
    position: absolute;
    right: 80px;
    top: 15px;
  }

  .table td {
    display: block;
  }

  .table tr td:last-child {
    border-top: 0;
  }

  .admin-bar .navbar-default.shrink {
    margin-top: 0;
  }

}
